.letter {
  transition: transform 0.15s ease;
}

.letter:hover {
  transform: scaleX(1.75) scaleY(0.75);
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f8f9fd;
  /* background-color: #ded9d9; */
}

.test {
  background-color: #e65b05;
}

.strokeText {
  -webkit-text-stroke: 3px black;
}

/* Custom thin scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Make scrollbar thinner */
  height: 20px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #e65b05bb; /* Thumb color */
  border-radius: 10px; /* Make the thumb rounded */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

@media (max-width: 768px) {
  .heading-xl {
    font-size: 13vw;
  }

  .heading-lg {
    font-size: 2.7rem;
  }

  .heading-sm {
    font-size: 1rem;
  }

  .paragraph-md {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .heading-xl {
    font-size: 5rem;
  }
  .heading-lg {
    font-size: 3.5rem;
  }
  .heading-sm {
    font-size: 1.5rem;
  }
  .paragraph-md {
    font-size: 1.1rem;
  }
}

@media (min-width: 1250px) {
  .heading-xl {
    font-size: 8vw;
  }
  .heading-lg {
    font-size: 4vw;
  }
  .heading-sm {
    font-size: 1.2vw;
  }
  .paragraph-md {
    font-size: 1.1vw;
  }
}
